.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card {
  background-color: white;
  color: black;
  border-radius: 15px;
  width: 260px;
  padding: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.product-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  font-weight: bold;
  margin: 10px 0;
}


.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.card p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.product-image {
  width: 100%;
  border-radius: 8px;
}
