.btn-blue {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 12px 20px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-blue:hover {
  background-color: #FFC300;
}
